* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.coming-soon-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 600;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: 300;
}

.launch-date p {
    font-size: 1.5rem;
    font-weight: 400;
}

.subscribe {
    margin-top: 30px;
}

.subscribe input {
    padding: 10px 15px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    font-size: 1rem;
}

.subscribe button {
    padding: 10px 20px;
    background-color: #8f94fb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.subscribe button:hover {
    background-color: #4e54c8;
}